/* LA PAUSE SPORT*/
/*
violet : #9E73A9
vert : #73A999
*/

.back1 {
    background-image: url("../assets/images/homeback.jpg");
    background-size: cover;
}
.back2 {
    background-image: url("../assets/images/inscriptioncoachback.jpg");
    background-size: cover;
}
.back3 {
    background-image: url("../assets/images/inscriptionback2.jpg");
    background-size: cover;
}
.back4 {
    background-image: url("../assets/images/sessionback.jpg");
    background-size: cover;
}
.backgroundhomemusculation {
    background-image: url("../assets/images/musculationhome.jpg");
    background-size: cover;
}
.backgroundhomeyoga {
    background-image: url("../assets/images/yogahome.jpg");
    background-size: cover;
}
.backgroundhomerunning {
    background-image: url("../assets/images/runninghome.jpg");
    background-size: cover;
}
.backgroundhomefitness {
    background-image: url("../assets/images/fitnesshome.jpg");
    background-size: cover;
}

/* changement des hyperlien */

.blacklink {
    text-decoration: none;
    color: black;
}
.greenlink {
    text-decoration: none;
    color: green;
}
.black {

    color: black;
}




/*Fenêtre du tchat-messages*/
#messages{
    text-align:left;
    padding:10px;
    background:#fff;
    height:400px;
    max-width: 80%;
    border:1px solid #ACD8F0;
    overflow:auto;
}
.boxWrite{
    max-width: 100%;
    padding: 0;
}
.title_axe {
    color: #3B0351;
    font-weight: bold;
}


/* Bouton VIOLET */
/**
.btnViolet {
    display: inline-block;
    background-color: #9E73A9;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btnViolet span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btnViolet span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btnViolet:hover {
    background-color: #73A999;
}
.btnViolet:hover span {
    padding-right: 25px;
}
.btnViolet:hover span:after {
    opacity: 1;
    right: 0;
}

**/
/*Bouton VERT*/
/* Bouton VIOLET */
/**
.btnVert {
    display: inline-block;
    background-color: #73A999;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btnVert span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btnVert span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btnVert:hover {
    background-color: #9E73A9;
}
.btnVert:hover span {
    padding-right: 25px;
}
.btnVert:hover span:after {
    opacity: 1;
    right: 0;
}

.nbInfo{
    font-style: italic;
    font-weight: bold;
    color: #3B0351;
}

.degrad_fond{
    background-image: linear-gradient(to left bottom, #86e7b0, #9debbe, #b2efcb, #c7f3d9, #dbf7e6, #d5f3e8, #d0efea, #ceeaea, #b3dbea, #a5c9eb, #acb4e4, #bf9acf);
}

.btnVoir{
    background: #73A999;
}
.btnSuprr{
    background: #73A999;
}
.btnModif{
    background: #9E73A9;
}

.fondpro{
    background-image: url("../assets/images/fondVV.jpg");
}
**/
