.back1 {
    background-image: url("../assets/images/homeback.jpg");
    background-repeat: no-repeat;
    width:100%;
    max-width: 100%;
    height: auto;
}
.back2 {
    background-image: url("../assets/images/inscriptioncoachback.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}
.back3 {
    background-image: url("../assets/images/inscriptionback2.jpg");
    background-repeat: no-repeat;
    width:100%;
    max-width: 100%;
    height: auto;
}
.back4 {
    background-image: url("../assets/images/sessionback.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}
.backgroundhomemusculation {
    background-image: url("../assets/images/musculationhome.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}
.backgroundhomeyoga {
    background-image: url("../assets/images/yogahome.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}
.backgroundhomerunning {
    background-image: url("../assets/images/runninghome.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}
.backgroundhomefitness {
    background-image: url("../assets/images/fitnesshome.jpg");
    background-repeat: no-repeat;
    min-width:100%;
    height: auto;
}

/* changement des hyperlien */

.blacklink {
    text-decoration: none;
    color: black;
}
.greenlink {
    text-decoration: none;
    color: green;
}
.black {

    color: black;
}
/*==
